@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
  font-family: "Roboto" !important ;  
}

a {
  color: #00B7FF;
}

main .container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container .login-card {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;}

.login-card input {
  width: fit-content;
  color: #00B7FF;
}

.lg-cart-img {
  height: 350px;
  border-radius: 12px;
  margin: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; 
}

.cart-image-div {
  display: none;
}

@media only screen and (min-width : 992px) {
  .cart-image-div {
    display: block;
  }

  .cart-image {
    height: 400px;
    border-radius: 8px;
    margin-right: 35px;
  }
}

.signupMain{
  height: 100vh;

}
.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupCard {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}